*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}


main{
    width: 350px;
    height: 500px;
    background-color: #302b63;
    border-radius: 10px;
    overflow: hidden;
}

#check{
    display: none;
}

.signup{
    width: 100%;
    height: 100%;
}

.signupform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signupform label{
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin: 35px 0px;
    cursor: pointer;
    transition: .8s ease-in-out;
}

input{
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: white;
}

button{
    width: 60%;
    padding: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: rgb(240, 3, 240);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: rgb(104, 2, 96);
}

.login{
    width: 100%;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 60% / 10%;
    transform: translateY(-95px);
    transition: .8s ease-in-out;
}

.login form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login label{
    font-size: 35px;
    color: rgb(68, 1, 89);
    font-weight: bold;
    margin: 15px 0px 50px 0px;
    cursor: pointer;
    transform: scale(.6);
    transition: .8s ease-in-out;
}

#check:checked~.login{
    transform: translateY(-415px);
}

#check:checked~.login label{
    transform: scale(1);
}

#check:checked~.signup label{
    transform: scale(.6);
}



